@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', Calibri;
    /* background-image: url('https://images.unsplash.com/photo-1677137340058-a0c01a4c0a5a?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzkxMTM1MTg&ixlib=rb-4.0.3&q=80'); */
    background: url('black_n_white.png') no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

.card {
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    background-color: rgba(17, 25, 40, 0.5);
    backdrop-filter: blur(25px) saturate(150%);
}

hr {
    width: 45%;
    margin: 5px 0px;
    height: 5px;
    background-color: white;
    border: none;
    border-radius: 5px;

}

main>div {
    padding: 50px;
    background: transparent;
}


/* Top Styles */
div#top {
    font-size: 20px;
    margin-bottom: 30px;
}

div#top h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

div#top h2 {
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

div#top h3 {
    margin-bottom: 10px;
    font-weight: 400;
}

div#top table td {
    vertical-align: top;
}

div#top div#portrait {
    background: url("ROOS2.png") no-repeat center -40px / cover;
    float: left;
    width: 200px;
    height: 200px;
    grid-area: portrait;
}

div#top p#aboutText {
    grid-area: text;
}

div#top p {
    float: left;
    padding: 15px;
    line-height: 1.6;
    margin-left: 30px;
}

div#top div#about > div {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-areas: 'portrait text';
} 

main div#quickcontacts {
    height: 0px;
    width: 0px;
    padding: 0;
    margin: 0;
}

main div#quickcontacts a {
    float: right;
    margin: 5px;
    margin-top: 10px;
    padding: 20px 20px 17px 20px;
    position: fixed;
    right: -50px;
    background-color: rgba(17, 25, 40, 0.75);
}

main div#quickcontacts a:nth-of-type(1) {
    top: 200px;
}

main div#quickcontacts a:nth-of-type(2) {
    top: 280px;
}

main div#quickcontacts a:nth-of-type(3) {
    top: 360px;
}

main div#quickcontacts a:nth-of-type(4) {
    top: 440px;
}

div#top::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}


/* Middle Styles */
div#middle {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    margin-bottom: 30px;
}

div#middle div.project {
    width: 26%;
    padding: 20px;
    padding-bottom: 35px;
    float: left;
    margin-bottom: 50px;
}

div#middle div.project img {
    width: 100%;
}

div#middle div.project h6 {
    font-size: 24px;
    margin-bottom: 40px;
}

div#middle div.project a:not(:has(img)) {
    padding: 10px;
    background: #e30086;
    color: white;
    width: 100%;
    font-size: 1em;
}


/* Bottom Styles */
/* div#bottom table {
    font-size: 20px;
}

div#bottom table td:nth-of-type(1) {
    width: 30px;
}

div#bottom table td:nth-of-type(2) p {
    height: 30px;
} */

/* Footer Styles */
footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    background-color: rgba(17, 25, 40, 0.5);
    backdrop-filter: blur(25px) saturate(150%);
}

/* Media styles */

@media screen and (max-width: 1138px) {
    main {
        width: 75%;
    }

    div#top div#portrait {
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 875px) {
    hr {
        width: 60%;
    }

    div#top div#portrait {
        height: 250px;
        width: 250px;
        margin-bottom: 50px;
    }

    div#top p#aboutText {
        margin: 0;
    }

    div#top div#about > div {
        width: 100%;
        grid-template-areas:
            'portrait'
            'text';
    }

    div#middle div.project {
        width: 40%;
    }
}

@media screen and (max-width: 680px) {
    main {
        width: 80%;
    }

    hr {
        width: 100%;
    }

    div#middle div.project {
        width: 100%;
    }

    main div#quickcontacts a {
        right: -0px;
    }
}

@media screen and (max-width: 500px) {
    div#top div#portrait {
        height: 250px;
        width: 250px;
    }
}